* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  background: linear-gradient(black, rgb(184, 61, 61));
  z-index: -1;
  padding: 10px;
}

.Titulo {
  background: linear-gradient(rgb(226, 226, 235), rgb(238, 74, 74));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  position: relative;
  top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.card1 {
  box-shadow: 1px 1px 1px 1px black;
  background: #fff;
  width: 200px;
  height: 300px;
}

.card2 {
  box-shadow: 1px 1px 1px 1px black;
  background: #fff;
  width: 200px;
  height: 300px;
}

.card3 {
  box-shadow: 1px 1px 1px 1px black;
  background: #fff;
  width: 200px;
  height: 300px;
}

.card4 {
  box-shadow: 1px 1px 1px 1px black;
  background: #fff;
  width: 200px;
  height: 300px;
}

.menu {
  color: white;
  text-decoration: none;
  position: relative;
  left: 250px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.menu:hover {
  color: rgb(235, 120, 120);
}

.img1 {
  height: 100px;
  position: relative;
  bottom: 15px;
  width: 200px;
}

.img2 {
  height: 100px;
  width: 200px;
  position: relative;
  bottom: 15px;
}

.img3 {
  width: 200px;
  position: relative;
  bottom: 15px;
  height: 100px;
}

.img4 {
  width: 200px;
  position: relative;
  bottom: 28px;
  height: 100px;
}

.cardtexto {
  position: relative;
  bottom: 140px;
  color: rgb(93, 91, 241);
  left: 10px;
}

.cardtexto2 {
  position: relative;
  bottom: 130px;
  color: rgb(93, 91, 241);
  left: 10px;
}

.cardtexto3 {
  position: relative;
  bottom: 130px;
  color: rgb(93, 91, 241);
  left: 10px;
}

.cardtexto4 {
  bottom: 180px;
  position: relative;
  color: rgb(93, 91, 241);
  left: 10px;
}

.cardtexto,
.cardtexto2,
.cardtexto3,
.cardtexto4 {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.paragrafo1 {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 10px;
  text-align: justify;
  width: 170px;
  position: relative;
  left: 12px;
  top: 20px;
}

.paragrafo2 {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 10px;
  text-align: justify;
  width: 170px;
  position: relative;
  left: 12px;
  top: 20px;
}

.paragrafo3 {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 10px;
  text-align: justify;
  width: 170px;
  position: relative;
  left: 12px;
  top: 20px;
}

.paragrafo4 {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 10px;
  width: 160px;
  position: relative;
  left: 20px;
  top: -8px;
}

.conteudoprincipal {
  color: black;
  font-size: 20px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  width: 600px;
  position: relative;
  left: 30%;
}

.rodapé {
  position: static;
  background: linear-gradient(black, rgb(184, 61, 61));
  height: 80px;
  font-size: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.textofinal {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pro {
  font-size: 11px;
  color: rgb(93, 91, 241);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80px;
  position: relative;
  top: 282px;
  left: 10px;
}

.int {
  font-size: 11px;
  color: rgb(93, 91, 241);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 140px;
  position: relative;
  top: 282px;
  left: 10px;
}

.big {
  font-size: 11px;
  color: rgb(93, 91, 241);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80px;
  position: relative;
  top: 282px;
  left: 10px;
}

.SI {
  font-size: 11px;
  color: rgb(93, 91, 241);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  top: 270px;
  left: 9px;
  width: 140px;
}

.olho {
  position: relative;
  height: 16px;
  bottom: 155px;
  left: 150px;
  cursor: pointer;
}

.olho2 {
  position: relative;
  height: 16px;
  bottom: 145px;
  left: 150px;
  cursor: pointer;
}

.olho3 {
  position: relative;
  height: 16px;
  bottom: 145px;
  left: 150px;
  cursor: pointer;
}

.olho4 {
  position: relative;
  height: 16px;
  bottom: 194px;
  left: 150px;
  cursor: pointer;
}

#contador {
  position: relative;
  left: 85%;
  font-size: 12px;
  bottom: 189px;
  width: 20px;
}

#contador2 {
  position: relative;
  left: 85%;
  font-size: 12px;
  bottom: 179px;
  width: 20px;
}

#contador3 {
  position: relative;
  left: 85%;
  font-size: 12px;
  bottom: 179px;
  width: 20px;
}

#contador4 {
  position: relative;
  left: 85%;
  font-size: 12px;
  bottom: 228px;
  width: 20px;
}

#data {
  font-size: 12px;
  position: relative;
  width: 60px;
  left: 120px;
  bottom: -0px;
}

#data2 {
  width: 60px;
  position: relative;
  left: 130px;
  font-size: 12px;
  bottom: -9px;
}

#data3 {
  width: 60px;
  font-size: 12px;
  position: relative;
  left: 130px;
  bottom: -9px;
}

#data4 {
  width: 60px;
  font-size: 12px;
  position: relative;
  left: 130px;
  bottom: 30px;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    margin-bottom: 15px;
  }

  .rodapé {
    position: static;
    bottom: 0;
  }

  .paragrafo1 {
    position: relative;
    top: -120px;
  }

  .paragrafo2 {
    position: relative;
    top: -120px;
  }

  .paragrafo3 {
    position: relative;
    bottom: 0%;
  }
  .paragrafo4 {
    position: relative;
    top: -1px;
  }

  .conteudoprincipal {
    display: none;
  }

  #data {
    position: relative;
    bottom: 130px;
  }
  #data2 {
    position: relative;
    bottom: 121px;
  }
  #data3 {
    position: relative;
    bottom: -10px;
    right: 1%;
  }
  #data4 {
    position: relative;
    right: 6%;
    top: -34px;
  }
  .img1 {
    margin-bottom: 65%;
    margin-right: 4%;
  }
  .img2 {
    margin-bottom: 65%;
    margin-right: 4%;
  }
  .img3 {
    position: relative;
    bottom: 5%;
  }
  .img4 {
    position: relative;
    bottom: 5%;
  }
  .big {
    position: relative;
  }
  .SI {
    position: relative;
    right: 30%;
    top: 280px;
    width: 170px;
  }

  .cardtexto {
    position: relative;
    bottom: 270px;
  }

  .cardtexto2 {
    position: relative;
    bottom: 260px;
  }
  .cardtexto3 {
    position: relative;
    bottom: 130px;
  }
  .cardtexto4 {
    position: relative;
    bottom: 170px;
  }

  .olho {
    position: relative;
    bottom: 285px;
  }
  .olho2 {
    position: relative;
    bottom: 275px;
  }
  .olho3 {
    position: relative;
    bottom: 145px;
  }
  .olho4 {
    position: relative;
    bottom: 183px;
  }
  #contador {
    position: relative;
    right: 8%;
    top: -318px;
  }

  #contador2 {
    position: relative;
    right: 8%;
    top: -310px;
  }
  #contador3 {
    position: relative;
    right: 8%;
    top: -180px;
  }
  #contador4 {
    position: relative;
    right: 8%;
    top: -217px;
  }
  .menu {
    font-size: 60%;
    position: static;
    width: 300px;
  }

  #menu,
  #menu1,
  #menu2,
  #menu3,
  #menu4 {
    position: relative;
    left: -10px;
    top: 9px;
  }

  #men {
    position: relative;
    left: 10px;
    bottom: -9px;
  }
}
